<div
  th:fragment="aiResponse(knowledgeSource, answers, products)"
  class="card llm-chat__assistant-message"
>
  <div class="llm-chat__label">LLM консультант</div>

  <!-- knowledgeSource (джерела знань) показуємо тільки якщо є -->
  <div
    th:if="${knowledgeSource != null and !knowledgeSource.isEmpty()}"
    class="card llm-chat__knowledge-source-block"
  >
    <p class="card-label llm-chat__response-label">
      <img
        class="llm-chat__response-icon"
        src="/images/svg-icons/resource.svg"
        alt="іконка ресурсів яка показує що різні ресурси збираються в одну відповідь"
      />
      Джерела:
    </p>

    <ul>
      <li
        th:each="source : ${knowledgeSource}"
        th:text="${source}"
      ></li>
    </ul>
  </div>

  <!-- Відповіді AI (завжди виводимо), але перевірка всерівно є -->
  <div
    th:if="${answers != null  and !answers.isEmpty()}"
    class="card llm-chat__answers-block"
  >
    <div th:each="answer : ${answers}">
      <p
        class="ai-chat__text-message"
        th:text="${answer}"
      ></p>
    </div>
  </div>

  <!-- Товари (показуємо якщо є) -->
  <div
    th:if="${products != null and !products.isEmpty()}"
    class="card llm-chat__products-block"
  >
    <h4 class="card-label">Знайдені товари:</h4>
    <ul class="llm-chat__products-block__list">
      <li
        class="card"
        th:each="product : ${products}"
      >
        <strong th:text="${product.productName}"></strong>
        <br />
        <span th:text="${product.productDescription}"></span>
        <br />
        <em th:text="'Артикул: ' + ${product.productSku}"></em>
      </li>
    </ul>
  </div>
</div>
