<div
  th:fragment="llm-chat(systemMessage, title)"
  th:with="appVersion=${@environment.getProperty('app.version')}"
  class="llm-chat"
  id="ai-chat-content-fragment"
>
  <!-- Styles -->
  <link
    rel="stylesheet"
    th:href="@{/fragments/llm-chat/llm-chat.css(v=${appVersion})}"
  />

  <h2
    class="heading--underlined"
    th:text="${title}"
  ></h2>

  <section
    class="llm-chat__chat-section"
    id="chat-section"
  >
    <!-- AI first message  -->
    <div class="card llm-chat__assistant-message">
      <div class="llm-chat__label">LLM консультант</div>
      <p
        class="llm-chat__text-message"
        th:text="${systemMessage}"
      ></p>
    </div>

    <!-- тут вставляється <template> </template> з повідомленням користувача -->
  </section>

  <!-- шаблон повідомлення від користувача який тут не рендериться, але його вставляє в секцію чату -->
  <template id="user-message-template">
    <div class="card llm-chat__user-message">
      <div class="llm-chat__label">Ім'я Користувача</div>
      <p
        class="llm-chat__text-message"
        id="user-message-paragraph"
      ></p>
    </div>
  </template>

  <!-- search backdrop blur -->
  <div
    class="llm-chat__search-backdrop-blur"
    data-js-search-backdrop-blur
  ></div>

  <!-- search bar -->
  <form
    class="llm-chat__search-bar"
    id="chat-message-form"
  >
    <input
      id="message-input"
      name="message-input"
      class="input llm-chat__search-input"
      data-js-search-input
      type="search"
      placeholder="Опишіть потрібні товари..."
    />

    <button
      class="llm-chat__search-button"
      type="submit"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        aria-label="іконка пошуку"
      >
        <path
          d="M21 21l-3.8-3.8M10.8 18.6a7.8 7.8 0 1 1 0-15.6 7.8 7.8 0 0 1 0 15.6Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </form>

  <!-- Scripts -->

  <script
    th:src="@{/fragments/llm-chat/llm-chat-ui.js(v=${appVersion})}"
  ></script>

  <script
    type="module"
    th:src="@{/fragments/llm-chat/llm-chat.js(v=${appVersion})}"
  ></script>
</div>
