<div
  th:fragment="llmResponse(knowledgeSource, answers, products)"
  class="card llm-chat__assistant-message"
>
  <div class="llm-chat__label">LLM консультант</div>

  <!-- knowledgeSource (джерела знань) показуємо тільки якщо є -->
  <div
    th:if="${knowledgeSource != null and !knowledgeSource.isEmpty()}"
  >
    <h4 class="card-label">Джерела:</h4>
    <div class="card llm-chat__knowledge-source-block">
      <ul class="list">
        <li
          class="list__item"
          th:each="source : ${knowledgeSource}"
          th:text="${source}"
        ></li>
      </ul>
    </div>
  </div>

  <!-- Відповіді AI (завжди виводимо), але перевірка всерівно є -->
  <div th:if="${answers != null  and !answers.isEmpty()}">
    <h4 class="card-label">Відповідь:</h4>
    <div class="card llm-chat__answers-block">
      <ul th:each="answer : ${answers}">
        <li
          class="ai-chat__text-message"
          th:text="${answer}"
        ></li>
      </ul>
    </div>
  </div>

  <!-- Товари (показуємо якщо є) -->
  <div
    th:if="${products != null and !products.isEmpty()}"
    class="llm-chat__products-block"
  >
    <h4 class="card-label">Знайдені товари:</h4>
    <ul class="list">
      <li
        class="card list__item"
        th:each="product : ${products}"
      >
        <span th:text="${product.productName}"></span>

        <img
          class="image"
          th:src="${product.productImageLink}"
          alt=""
        />

        <span th:text="${product.productDescription}"></span>

        <em th:text="'Артикул: ' + ${product.productSku}"></em>
      </li>
    </ul>
  </div>
</div>
